<ion-content [fullscreen]="true">
  <form [formGroup]="form">
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input formControlName="username" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="form.get('username').invalid && form.get('username').touched">
        <ion-col size-sm="6" offset-sm="3">
          <small>Username cannot be blank.</small>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="form.get('password').invalid && form.get('password').touched">
        <ion-col size-sm="6" offset-sm="3">
          <small>Password should be minimum 5 characters long.</small>
        </ion-col>
      </ion-row>
  
      <ion-row class="ion-text-center">
        <ion-col size-sm="6" offset-sm="3">
          <ion-button expand="round" fill="outline" (click)="onLogin()" [disabled]="form.invalid">Login</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
